<div class="dialog-center">
  <div class="dialog">
    <span class="icon-close" ng-click="close()"></span>
    <div class="dialog-head">Create new message</div>
      <div class="dialog-body">
        <textarea name="message" id="" cols="50" rows="3"></textarea>
      </div>
    <div class="dialog-footer">
      <ul>
        <li><span class="icon-photo"></span> Add Photo</li>
        <li><span class="icon-video"></span> Add Video</li>
        <li class="dialog-footer--primary-action"><a class="button" href="#" ng-click="close()">Post</a></li>
      </ul>
    </div>
  </div>
</div>
