<div class="posts" ng-controller="homeController">
  <ul class="posts--list-view">
    <li ng-repeat="mainPost in posts" post>
      <div class="post__body" ng-init="post = mainPost" ng-include="'app/home/post.html'"></div>

      <img class="photo" ng-if="post.photo || post.video" ng-src="{{post.photo || post.video}}"/>

      <div ng-show="mainPost.showReplies">
        <div class="post__body post__body--reply"
          ng-if="mainPost.replies"
          ng-repeat="replyPost in mainPost.replies"
          ng-init="post = replyPost"
          ng-include="'app/home/post.html'">
        </div>

        <div class="post__reply">
          <input type="text" name="reply" id="reply" placeholder="Reply..." />
        </div>
      </div>
    </li>
  </ul>
</div>
